h1{

}

img{

}

p{

}

h2{

}

body{
    background-color: var( --cor-de-fundo);
    color: var( --branco-principal);
    font-family: var( --font-principal);
    font-size: 16px;
    font-weight: 400;
}

.lista__item {
    font-size: 32px;
    color:var(--branco-principal);
}