body{
    background-color: rgb(197, 71, 71)220, 220);
}

h1{
    color: crimson;
    font-size: 25px;
    font-family: ;
}

img{
    display: block;
    margin: auto;
    width: 50%;
}

p{

}

h2{
    color: crimson;
    font-size: 25px;
    font-family:;
}


