body{
    background-color: lightgray;
    font-size: 15px;
}

h1{
    color: crimson;
    font-size: 25px;
    font-family: ;
}

img{
    display: block;
    margin: auto;
    width: 50%;
}

p{

}

h2{
    color: crimson;
    font-size: 25px;
    font-family:;
}


